codigos/DashBoard/EstacaoMeteorologica.json
[
    {
        "id": "74908e6245fcf388",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6944b87d55d6dc9d",
        "type": "inject",
        "z": "74908e6245fcf388",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "bde818f0311d2590"
            ]
        ]
    },
    {
        "id": "bde818f0311d2590",
        "type": "http request",
        "z": "74908e6245fcf388",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "cc5ae9468dbf2d62",
                "0fd7a76e5d79e71b"
            ]
        ]
    },
    {
        "id": "cc5ae9468dbf2d62",
        "type": "ui_text",
        "z": "74908e6245fcf388",
        "group": "256c5f5fa8b88db9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "0fd7a76e5d79e71b",
        "type": "function",
        "z": "74908e6245fcf388",
        "name": "",
        "func": "strBuffer = msg.payload;\ni = 100;\n\nfunction extraiValor(strBuffer)\n{\n    valor = \"\";\n    caracter = \"\";\n    \n    while (caracter != \"'\")\n    {\n        caracter = strBuffer.substring(i, i+1);\n        i++;\n        if (i > 170) break;\n    }\n    caracter = \"\";\n    while ((caracter != \"'\") && (caracter != \"]\"))\n    {\n        valor += caracter;\n        caracter = strBuffer.substring(i, i+1);\n        i++;\n        if (i > 170) break;\n    }\n    return valor;\n}\n\nvelVentoMs = extraiValor(strBuffer, i);\nvelVentoKmH = extraiValor(strBuffer, i);\ndirecaoVento = extraiValor(strBuffer, i);\numidadeAr = extraiValor(strBuffer, i);\ntemperatura = extraiValor(strBuffer, i);\npressaoAtmosferica = extraiValor(strBuffer, i);\naltitude = extraiValor(strBuffer, i);\nCO2ppm = extraiValor(strBuffer, i);\n\nglobal.set(\"velVentoMs\", velVentoMs);\nglobal.set(\"velVentoKmH\", velVentoKmH);\nglobal.set(\"direcaoVento\", direcaoVento);\nglobal.set(\"umidadeAr\", umidadeAr);\nglobal.set(\"temperatura\", temperatura);\nglobal.set(\"pressaoAtmosferica\", pressaoAtmosferica);\nglobal.set(\"altitude\", altitude);\nglobal.set(\"CO2ppm\", CO2ppm);\n\nmsg.payload = velVentoMs + \";\" + velVentoKmH + \";\" + direcaoVento + \";\" + umidadeAr + \";\" + temperatura + \";\" + pressaoAtmosferica + \";\" + altitude + \";\" + CO2ppm\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 220,
        "wires": [
            [
                "b91c2bf30f959531"
            ]
        ]
    },
    {
        "id": "b91c2bf30f959531",
        "type": "ui_text",
        "z": "74908e6245fcf388",
        "group": "256c5f5fa8b88db9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "256c5f5fa8b88db9",
        "type": "ui_group",
        "name": "Default",
        "tab": "3e9ca3f27dcbb47d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e9ca3f27dcbb47d",
        "type": "ui_tab",
        "name": "Teste HTTP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]